fastapi
uvicorn
SQLAlchemy
alembic
pydantic
python-jose
passlib[bcrypt]
python-multipart
pillow
redis
celery
python-dotenv
numpy
opencv-python
email-validator
websockets
redislite
email-validator
passlib
python-jose[cryptography]
opencv-python-headless
